<div class="footer">
  <div class="footer-links">
  <%= link_to 'Nos honoraires', '/prices.html'  %>
  <%= link_to 'Notre philosophie', '/about.html'  %>
  </div>
  <div class="footer-copyright">
    Design by Respoweb
  </div>
</div>
