<header class="navbar-wagon">
  <% data.users.each do |user| %>
    <!-- logo -->
    <div class="navbar-wagon-brand">
      <% link_to '/index.html' do  %>
        <p class="name"><%= user.name.upcase %> - <%= user.work.capitalize %></p>
        <div class="hidden-sm hidden-md hidden-lg">
          <p class="btn btn-primary"> <i class="fa fa-phone" aria-hidden="true"></i> <%= user.phone %></p>
        </div>
      <% end %>
    </div>

    <div class="navbar-wagon-right hidden-xs hidden-sm">
       <p class="btn btn-primary">Appelez moi au <%= user.phone %></p>
    </div>
  <% end %>
</header>
