
.features {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.profile {
  height: 100px;
  width: 100px;
}



 .mindspirit {
  text-align: center;
  padding: 10px 20px;
  margin: 50px;
 }


.brown-background {
  background-color: #A2896F;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;

}

.spirit-content {
  color: white;
  p {
    padding: 20px;
    text-align: justify;

  }
}

.map-container {
  position: relative;
}

#map {
  height: 400px;
  width: 100%;
  position: absolute;
 }

.map-infos-container {
  position: absolute;
  background-color: rgba(250, 250, 250, 0.7);
  padding: 20px;
  top: 15px;
  left: 120px;
  h3 {
    font-size: 16px;
    font-weight: bold;
  }

  p {
    font-size: 14px;
  }

  .fa {
    font-size: 18px;
    color: $blue;
  }
}


