@media(max-width:767px){

}
@media(min-width:768px){

}
@media(min-width:992px){

}
@media(min-width:1200px){

}



.features {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


 .mindspirit {
  text-align: center;
  padding: 25px 20px;
  margin-top: 50px;
  margin-bottom: 50px;

 }


.brown-background {
  background-color: rgba(162, 137, 111, 0.9);
}

.spirit-content {
  color: white;
  p {
    padding: 20px;
    text-align: justify;

  }
}

.map-container {
  position: relative;
}

#map {
  height: 450px;
  width: 100%;
  position: absolute;
 }

.map-infos-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  top: 22px;
  left: 120px;
  h3 {
    font-size: 16px;
    font-weight: bold;
  }

  p {
    font-size: 14px;
    font-weight: lighter;
  }

  .fa {
    font-size: 18px;
    color: $blue;
  }
}


@media(max-width:767px){
  .map-infos-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  top: 22px;
  left: 14px;
  }


 .mindspirit {
  max-width: 96%;

 }

}


// @media(min-width:768px){}
// @media(min-width:992px){}
// @media(min-width:1200px){}


