.features {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.feature {
  margin: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-position: center;
  background-size: cover;
}

 #map {
  height: 400px;
  width: 100%;
 }

 .mindspirit {
  text-align: center;
  padding: 10px 20px;
  margin: 50px;
 }


.brown-background {
  background-color: #A2896F;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;

}

.spirit-content {
  color: white;
  p {
    padding: 20px;
    text-align: justify;

  }
}


