// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #04395E;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$grey: #000000;
$light-grey: rgba(240, 240, 240, 1);
$white: rgb(255, 255, 255);
$brown: rgba(162, 137, 111, 1);
