// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #04395E;
$lightblue: #3e638b;
$darkblue: #001334;
$yellow: #FDB631;
$orange: #E67E22;
$green: #00bfa5;
$lightgreen: #5df2d6;
$darkgreen: #008e76;
$grey: #000000;
$light-grey: rgba(240, 240, 240, 1);
$white: rgb(255, 255, 255);
$brown: rgba(162, 137, 111, 1);
