---
title: Nos honoraires
---
<div class="banner" style="background-image: url(<%= image_path 'salle-attente-cabinet-osteo.jpg'%>); height: calc(100vh - 70px);">
  <div class="row">
    <div class="col-xs-12 col-sm-6 features">
        <div class="banner-content">
          <h2>Nos honoraires</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi omnis, aliquam, nesciunt soluta praesentium dolor a! At, accusamus, neque. Dolorem, aspernatur perspiciatis tempore nihil molestiae eum deserunt aliquid? Veritatis, corporis.</p>
        </div>
      </div>
    </div>
  </div>
</div>
